@import url('https://fonts.googleapis.com/css?family=Roboto');

nav {
  width: 100%;
}

header {
  z-index: 8000!important;
  overflow: hidden;
  box-shadow: none!important;
}

header h2 {
  font-weight: 700!important;
}

.App {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.user-screen {
  background: #3949AB;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.icon {
  padding-right: 0.5rem;
}

.sign-in-button {
  color: white!important;
  width: 7vw!important;
  height: 5vh!important;
  font-size: 1.1rem!important;
}

.user {
  position: relative;;
  top: 40%;
  height: 10rem;
}

.title,
.title-cursor {
  display: inline-block!important;
  font-size: 6.5vw!important;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  width: fit-content;
}

.title-cursor {
  width: 2vw;
}

.toolbar {
  margin-right: 0!important;
  padding-right: 0!important;
}

.app-title {
  min-width: 6rem;
}

.sign-out-container {
  text-align: right;
  width: 100%;
  height: 4rem;
  padding-left: 6rem;
}

.sign-out-container button {
    color:white!important;
    height: 4rem;
}

.user-options div:nth-child(2) { /* User Option Popover Selector */
  box-shadow: none!important;
  background: #eeeeee;
  border-style: solid;
  border-color: #aeaeae16 #aeaeae16 #aeaeae32;
  border-width: 1px 1px 2px;
  border-radius: 0 0 2px 2px!important;
}

div:nth-of-type(3) { /* Make sure popups are on the top */
  z-index: 9999!important;
}

.sign-out-popup {
  position: absolute;
  width: 22rem;
  height: 12rem;
  background: #fafafa;
  border-radius: 2px;
  border: none;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto 65vh auto;
}

.sign-out-popup:focus {
  outline: none;
}

.sop-title {
  padding: 1rem;
  background: #3949AB;
  height: 1.5rem;
  border-radius: 2px 2px 0 0;
}

.sop-prompt {
  padding: 1rem;
}

.sop-buttons {
  position: absolute;
  width: 21rem;
  text-align: right;
  margin: 0.5rem;
  bottom: 0;
}

.divider {
  margin-bottom: 0.5rem!important;
}

.sign-out {
  color: red!important;
}

.roomList {
  padding-top: 4rem;
}

.add-room button {
  width: 100%;
}

.Main-container {
  position: absolute;
  background: #FAFAFA;
  width: calc(100vw - 16rem);
  height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
  top: 4rem;
  left: 15rem;
  bottom: 0;
}

.message-container {
  height: 100%;
}

.room-title {
  color: #212121!important;
  text-align: left;
  padding: 0.5rem;
}

.card {
  box-shadow: none!important;
  border: solid #e0e0e0;
  border-width: 1px 0 1px 0;
}

.message {
  background: #eeeeee;
}

.message-left {
  display: inline-block;
  width: 50%;
}

.message-right {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.message-username {
  font-weight: bold!important;
  text-align: left;
}

.message-content {
  text-align: left;
}

.message-timestamp {
  color: #9E9E9E!important;
  font-weight: 600!important;
  text-align: right;
}

.roomListItem {
  pointer-events: none!important;
}

.drawer:first-of-type div {
  width: 15rem!important;
  z-index: 50!important;
}

.room-creation div:nth-child(2) { /* Room Creation Popover Selector */
  box-shadow: none;
}

.form-wrap {
  background: white;
  text-align: center;
  margin: auto;
  border-style: solid!important;
  border-width: 1px 1px 2px!important;
  border-color: #eeeeee!important;
  border-radius: 2px!important;
}

.form-wrap form{
  padding: 0.7rem;
}

.form-wrap:first-of-type div {
  padding-right: 1rem;
}

.room-create-button {
  box-shadow: none!important;
}
::-webkit-scrollbar {
    background: transparent; 
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #bdbdbd;
}

.chat-bar-container {
  width: 100%;
  max-height: 6rem;
}

.chat-bar-container input {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: inline-block;
  height: 32px;
  width: calc(100% - 7rem);
  padding: 0.5rem;
  color: #212121;
  border-style: solid;
  border-width: 1px 0 2px 1px;
  border-color: #eeeeee;
  border-radius: 4px 0 0 4px;
}

.chat-bar-container input:focus {
  outline: none;
}

.chat-bar-container button {
  display: inline-block;
  box-shadow: none;
  width: 5rem;
  height: 51px;
  border-style: solid!important;
  border-width: 1px 1px 2px 0!important;
  border-color: #eeeeee!important;
  border-radius: 0 4px 4px 0!important;
}

#message-form {
  height: 4rem;
  margin: 0 auto;
}

#message-list {
  height: calc(100vh - 12rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

#no-messages-text {
  width:50%;
  margin: 0 auto;
}